extends ../layout
block header
block content
  .container
    .page-header.text-center
      h1
        span.fa.fa-anchor
        |  Profile Page
      a.btn.btn-default.btn-sm(href='/auth/logout') Logout
    .row
      // LOCAL INFORMATION
      .col-sm-6
        .well
          h3
            span.fa.fa-user
            |  Local
          p
            strong id:
              | #{user._id}<br>
            strong email:
              | #{user.local.email}<br>
            strong password:
              | #{user.local.password}
      .col-sm-6
        .well
          h3.text-primary
            span.fa.fa-facebook
            |  Facebook
          p
            strong id:
              | #{user.facebook.id}<br>
            strong token:
              | #{user.facebook.token}<br>
            strong email:
              | #{user.facebook.email}<br>
            strong name:
              | #{user.facebook.name}
      .col-sm-6
        .well
          h3.text-primary
            span.fa.fa-twitter
            |  twitter
          p
            strong id:
              | #{user.twitter.id}<br>
            strong token:
              | #{user.twitter.token}<br>
            strong username:
              | #{user.twitter.username}<br>
            strong displayName:
              | #{user.twitter.displayName}
      .col-sm-6
        .well
          h3.text-danger
            span.fa.fa-twitter
            |  twitter
          p
            strong id:
              | #{user.google.id}<br>
            strong token:
              | #{user.google.token}<br>
            strong email:
              | #{user.google.email}<br>
            strong name:
              | #{user.google.name}